* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #e8f0f7;
    font-family: monospace;
    height: 118vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*------------------------------------------------------*/

/* Animasi Tajuk */
.title-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto 17%;
    min-height: 120px;
}

.text {
    position: relative;
    border-right: 5px solid;
    font-size: 2.0em;
    letter-spacing: 5px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    animation:
        typing 1s ease-in-out,
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

/*------------------------------------------------------*/

/* Bar Navigasi */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.header {
    background-color: rgb(19, 22, 26);
    position: sticky;
    top: 0;
    z-index: 99;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 91px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    column-gap: 30px;
    margin-bottom: 5px;
}

.nav__link {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav__item i {
    transform: translateY(25%);
    color: rgba(255, 255, 255, 0.75);
    font-size: 25px;
}

.nav__item svg {
    transform: translateY(25%);
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
}

.nav__list .logout {
    position: absolute;
    margin-top: 5px;
    margin-bottom: 3px;
    right: 25px;
}

.nav__list .logout i {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.75)
}

.nav__link.active svg path {
    fill: #ffffff;
}

.nav__link.active i {
    color: #ffffff;
}

.logout:hover i {
    color: #ffffff;
}

.nav__item:hover svg path {
    fill: #ffffff;
}

.nav__link:hover,
.nav__item:hover {
    color: white;
    transform: translateY(-3px);
    transition: all .2s ease-in-out;
}

.nav__link::after {
    content: "";
    height: 3px;
    border-radius: 1000px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.active {
    color: white;
}

.active::after,
.nav__link.active::after {
    transform: scaleX(1);
}

/*------------------------------------------------------*/

/* Borang Daftar Ahli Baru/ Daftar Masuk Ahli */
.wrapper {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #adadad;
    border-radius: 7px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #adadad;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.wrapper .btn {
    width: 50%;
    height: 45px;
    background: rgb(0, 183, 255);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin: auto 25%;
}

.wrapper .link-register {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.link-register a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.link-register a:hover {
    text-decoration: underline;
}

.select-kelas {
    width: 100%;
}

/*------------------------------------------------------*/

/* Carousel/Banner Iklan */

.carousel-container {
    width: 720px;
    margin: 70px auto;
    position: relative;
}

.carousel {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    z-index: 5;
}

.slider {
    display: flex;
    height: 100%;
    width: 200%;
    flex-shrink: 0;
    transition: all 0.3s ease-in;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider section {
    flex-basis: 50%;
    width: 50%;
}

.slider a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.carousel-container i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 10;
}

.carousel-container i:active {
    transform: translateY(-50%) scale(0.85);
}

.carousel-container i:first-child {
    left: -25px;
}

.carousel-container i:last-child {
    right: -25px;
}

/*------------------------------------------------------*/

/* Profil Page Styling */

.user-details {
    padding: 20px 10px;
    font-size: 20px;
}

.container-profil-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
}

.scrollable-profil-table {
    flex: 70%;
    height: 450px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.profil-table {
    padding: auto;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
}

.profil-table th,
.profil-table td {
    padding: 6px 8px;
    font-weight: normal;
}

.profil-table th {
    background-color: #009578;
    text-align: left;
    color: white;
    position: sticky;
    top: 0;
}

.profil-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.profil-table tr {
    scroll-snap-align: start;
}

.carta-mata {
    display: flex;
    flex: 30%;
    justify-content: center;
}

.carta-mata .container {
    display: grid;
    place-items: center;
}

#view-mata {
    margin: auto;
    width: 350px;
    height: 350px;
    text-align: center;
}

/*------------------------------------------------------*/

/* Default Table Styling */

.table-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    padding: 10px;
}

.scrollable-table {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.table {
    padding: auto;
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
}

.table th,
.table td {
    padding: 6px 8px;
    font-weight: normal;
}

.table th {
    background-color: #009578;
    text-align: left;
    color: white;
    position: sticky;
    top: 0;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tr {
    scroll-snap-align: start;
}

/*------------------------------------------------------*/

/* Kaunter Kehadiran Styling */

.kaunter-info-container {
    font-size: 18px;
    padding: 10px 10px;
}

.select-aktiviti {
    position: relative;
    width: 400px;
}

.select-aktiviti-container{
    position: relative;
}

.select-aktiviti-container .searchBtn {
    margin: 0 10px;
    position: absolute;
    background: #009578;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    right: 0;
    top: 0;
    left: 500px;
    cursor: pointer;
}

.searchBtn i{
    color: #fff;
}

.rekod-container {
    display: flex;
    justify-content: center;
}

.input-rekod {
    position: relative;
    text-align: center;
    width: 100%;
    height: 50px;
}

.input-rekod input {
    width: 250px;
    height: 20px;
    background: #fff;
    outline: none;
    border: 2px solid #adadad;
    border-radius: 7px;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
}

.input-rekod input::placeholder {
    color: #adadad;
}

.rekod-container button {
    padding: 0 5px;
    margin: 0 142px;
    border-radius: 40px;
    width: 115px;
    height: 30px;
    background-color: #009578;
    color: white;
    border: none;
}